Functional:
1.The system must allow for users to create different profiles for each family member.
2.The system must allow users to switch between profiles while the app is open.
3.The system must allow users to add and delete their own reminders.
4.The system must allow users to log in to their personal profile.
5.The system must allow users to view their personal reminders.
6.The system shall allow users to set their own profile pictures.
7.The system shall allow parent users to assign reminders to their children.
8.The system must allow users to set a due date for each reminder.
9.The system shall allow users to assign a reward to each reminder.
10.The system shall allow users to view their total score.
11.The system shall allow users to mark reminders as completed.
12.The system shall allow parent users to view the score of the child users.
13.The system shall allow child users to drop (release) an incomplete task if needed.
14.The system shall allow dropped (released) tasks to be picked up again by child users.
15.The system shall allow users to send messages to each other.
16.The system shall notify parent users if a task is completed.
17.The system shall notify parent users if an urgent task is due soon and incomplete.
18.The system shall allow users to create/delete items for the Shopping and Materials list. 
19.The system shall notify users for schedule conflicts.
20.The system shall allow users to create tasks that may require to users to complete.
Non-Functional
1.Platform - The system must run on an Android Nexus 5 Device.
2.Platform - The system must support Android API 15(IceCreamSandwich).
3.Quality - The system shall support two parents and two children within a family.
4.Platform - The system must support a Google Firebase Database.
5.Quality -The system must have a backup on the cloud, allow users to restore the task log after a possible failure.